/* 

@media only screen and (max-width: 768px){

    .delani1{
        background-image: url(./assets/backgrounds/h_img.jpg);
        height: 700px;
        width: 15700px;
        padding-top: 60px;
    }
    
    .delani2 {
        padding: 60px;
        line-height: 3;
    }
    
    
    .center-block {
        margin-top: 70px;
    }
    
    #logo,#mouse {
        margin-top: 170px;
    }
    
    #we-do {
        display: flex;
        justify-content: space-around;
    }
    
    h2,.intro {
        color: white;
    }
    .delani3 {
        background-image: url(./assets/backgrounds/s_image.jpg);
        height: 400px;
        width: 1570px;
        line-height: 2;
        color: white;
        padding-top: 60px;
    }
    
    .delani4 {
        background-color: white;
    }
    
    .delani5 {
        background-image: url(./assets/backgrounds/c_image.jpg);
        height: 700px;
        width: 1570px
    }
    #contacts {
        color: white;
        padding-top: 30px;
    }
    footer {
        height: 200px;
        width: 1570px 
    }
    .para-footer,.image-footer {
        padding-top: 30px;
        text-align: center;
        height: auto;
        width: auto;
    }
} */


@media only screen and (min-width: 992px){

    .delani1{
        background-image: url(./assets/backgrounds/h_img.jpg);
        height: 700px;
        width: 1570px;
        padding-top: 60px;
    }
    
    .delani2 {
        padding: 60px;
        line-height: 3;
    }
    
    
    .center-block {
        margin-top: 70px;
    }
    
    #logo,#mouse {
        margin-top: 170px;
    }
    
    #we-do {
        display: flex;
        justify-content: space-around;
    }
    
    h2,.intro {
        color: white;
    }
    .delani3 {
        background-image: url(./assets/backgrounds/s_image.jpg);
        height: 400px;
        width: 1570px;
        line-height: 2;
        color: white;
        padding-top: 60px;
    }
    
    .delani4 {
        background-color: white;
        padding-left: 50px;
    }
    
    .delani5 {
        background-image: url(./assets/backgrounds/c_image.jpg);
        height: 700px;
        width: 1570px
    }
    #contacts {
        color: white;
        padding-top: 30px;
    }
    footer {
        height: 200px;
        width: 1570px 
    }
    .para-footer,.image-footer {
        padding-top: 30px;
        text-align: center;
        height: auto;
        width: auto;
    }

}