
.delani1{
    background-image: url(./assets/backgrounds/h_img.jpg);
    height: 700px;
    width: 1570px;
    padding-top: 60px;
    margin: 0%;
}

.center-block {
    margin-top: 170px;
}

h2,.intro {
    color: whitesmoke;
}
.delani3 {
    background-image: url(./assets/backgrounds/s_image.jpg);
    height: 700px;
    width: 1570px;
}

.delani4 {
    background-color: whitesmoke;
}

.delani5 {
    background-image: url(./assets/backgrounds/c_image.jpg);
    height: 700px;
    width: 1570px
}

footer {
    height: 200px;
    width: 1570px 
}
.para-footer,.image-footer {
    padding-top: 30px;
    text-align: center;
    height: auto;
    width: auto;
}